body {
 font-family: Arial, Helvetica, sans-serif;
  background: url('styles/download.jpeg');
  
}


.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
#login{
  float: right;
}

.topnav a:hover {
  background-color: blue;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


.about{

 padding: 90px;
 align-content: center;
}






#login{
  float: right
}


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;

  height: 100px;
  background-color: white; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img{
  width: 100%;
}
