
body {
  font-family: "Lato", sans-serif;
  background: #E6E6FA;
}

table, th, td {
  border: 2px dotted #000fff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background-color: #000000;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000fff;
  display: block;
}

.sidenav a:hover {
  color: #D8BFD8
}

.main {
  margin-left: 140px; 
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

label {
  display: block;
  margin: 20px 0 0;

}
label:hover {
  text-decoration: none;
}
input {
  left: -999em;
}
.hide {
  width: 100%;
  border: 1px solid #000fff;
  background: #D8BFD8;
  max-height: 99em;
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 2.5s linear, max-height 2.5s linear;
}
.hide p {
  padding: 10px;
  margin: 0;
}
.tb1 input[type="checkbox"]:checked + div {
  opacity: 0;
  max-height: 0;
  border: none;
}
.follow {
  border-top: 1px solid blue;
  margin: 0;
}


.inner {
  position: relative;
  overflow: hidden;
}
.hide2 {
  width: 100%;
  float: left;
  clear: both;
  border: 1px solid #red;
  background: #D8BFD8;
  opacity: 1;
  overflow: hidden;
  transform: translateY(0);
  margin: 0;
  transition: all 2.5s linear, margin 0s linear 0s;
}
.hide2 p {
  padding: 10px;
  margin: 0;
}
.tb2 .follow {
  clear: both;
}

.tb2 input[type="checkbox"]:checked + .inner .hide2 {
  opacity: 0;
  transform: translateY(-100%);
  margin-bottom: -999em;
  transition: all 2.5s linear, margin 0s linear 2.5s;
}



.tb3 .hide3 {
  width: 100%;
  display: table;
  height: 150px;  any arbitrary height but best at the minimum initial height you would want. 
  overflow: hidden;
  background: #D8BFD8;
  transition: all 2.5s ease;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

}
.inner3 {
  padding: 10px;
}


 .admin{
width: 100%; 
height: 100%;
float: right; 
margin-left: 5px;

}
button{
background-color: #000fff;font-size: 20px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.officials {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and cente#D8BFD8 */
  border: 1px solid #888;
  width: 40%; 
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #D8BFD8;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.officials {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


img{
  width:80px;  
  border-radius: 5px;
}

