body {
  font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
  border: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 /* width:100%;*/
 
}

td, th {
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.main {
  margin: 20px; 
  padding: 0px 10px;
}

#go-right{
  margin: right;
}

label {
  display: block;
  margin: 20px 0 0;

}
label:hover {
  text-decoration: none;
}
input {
  left: -999em;
}
.hide {
  width: 100%;
/*  border: 1px solid #000fff;*/
  background: #D8BFD8;
  max-height: 99em;
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 1.5s linear, max-height 1.5s linear;
}
.hide p {
  padding: 10px;
  margin: 0;
}
.tb1 input[type="checkbox"]:checked + div {
  opacity: 0;
  max-height: 0;
  border: none;
}
.follow {
  border-top: 1px solid blue;
  margin: 0;
}


.inner {
  position: relative;
  overflow: hidden;
}
.hide2 {
  width: 100%;
  float: left;
  clear: both;
  border: 1px solid #red;
  background: #D8BFD8;
  opacity: 1;
  overflow: hidden;
  transform: translateY(0);
  margin: 0;
  transition: all 1.5s linear, margin 0s linear 0s;
}
.hide2 p {
  padding: 10px;
  margin: 0;
}
.tb2 .follow {
  clear: both;
}

.tb2 input[type="checkbox"]:checked + .inner .hide2 {
  opacity: 0;
  transform: translateY(-100%);
  margin-bottom: -999em;
  transition: all 1.5s linear, margin 0s linear 1.5s;
}



.tb3 .hide3 {
  width: 100%;
  display: table;
  height: 150px;   
  overflow: hidden;
  background: #D8BFD8;
  transition: all 1.5s ease;
  border-left: 1px solid #000;
  border-right: 1px solid #000;

}
.inner3 {
  padding: 10px;
}


#about{
    padding: 10px;
    margin-top: 10px;
} 


/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #D8BFD8;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.officials {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


img{
  width:40px;  
  border-radius: 5px;
}




input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}



#login{
  float: right
}