
body {
  font-family: "Lato", sans-serif;
  background: #E6E6FA;
}

.topnav {
  overflow: hidden;
  background: #E6E6FA;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: blue;
  color: black;
}

/*.topnav a.active {
  background-color: #D8BFD8;
  color: white;
}*/

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}




@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    /*width: 100%;*/
    margin: 0;
    /*padding: 14px;*/
  }
  .topnav input[type=text] {
    border: 1px solid #D8BFD8;  
  }
}
#footer {
  
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background: black;
}

