body {
 font-family: Arial, Helvetica, sans-serif;
  background: white;

  
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

input[type=button] {
  background-color: #000fff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}


#login{
  float: right
}
